@{
    ViewData["Title"] = "Agardecimento";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="text-center mt-5">
    <h2>Obrigado por utilizar o CheckCep!</h2>
    <p>Esperamos ter ajudado na sua busca. Fique à vontade para usar o serviço novamente sempre que precisar!</p>
    <p>Se precisar de mais informações ou quiser compartilhar feedback, não hesite em nos contatar.</p>

    <a href="/" class="btn btn-outline-dark" action="@Url.Action("Index","Address")">Nova Consulta</a>
</div>
